@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg-primary: #1a1a1d;
  --color-bg-surface: #2d2d30;
  --color-text-primary: #f5f5f7;
  --color-text-secondary: #a0aec0;
  --color-text-on-accent: #ffffff;
  --color-border-color: #718096;
  --color-accent: #00a39c;
  --color-dark-accent: #80d1c8;

  --color-status-completed: #28a745;
  --color-status-not-started: #6c757d;
  --color-status-in-progress: #007bff;
  --color-priority-high: #dc3545;
  --color-priority-medium: #ffc107;
  --color-priority-low: #198754;

  --color-priority-high1: #f28b94;
  --color-priority-medium1: #ffe08a;
  --color-priority-low1: #7cd9a4;

  --color-gradient-start-color: #3b82f6;
  --color-gradient-end-color: #a855f7;
  --color-gradient-mid-color: #856df7;
  --color-dark-purple: #443d5f;
  --color-background: #ffffff;
  --color-sidebar: #f5f5f5;
  --color-sidebar-border: #cccccc;
  --color-dark-gray: #333333;
}

html {
  scroll-behavior: smooth;
  @apply dark:bg-bg-primary bg-text-on-accent;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: "Nunito Sans", system-ui, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @apply text-6xl lg:text-7xl font-bold text-gradient pb-6;
}

h4 {
  @apply text-4xl font-bold text-gradient mb-4;
}

@utility btn-primary {
  @apply select-none cursor-pointer bg-bg-primary border border-border-color rounded-full px-5 py-2 transition-all duration-300 text-text-primary font-medium transform hover:scale-105;
}

@utility text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-gradient-start-color to-gradient-end-color;
}

@utility btn-secondary {
  @apply select-none cursor-pointer bg-transparent border border-border-color rounded-full px-5 py-2 transition-transform duration-300 text-text-primary font-medium transform hover:scale-105;
}
@utility card {
  @apply w-full bg-white/5 backdrop-blur-md border border-white/10 shadow-xl rounded-2xl p-8 text-center;
}

@utility custom-scroll {
  @apply overflow-y-auto
  [&::-webkit-scrollbar]:w-2
  [&::-webkit-scrollbar-track]:rounded-full
  [&::-webkit-scrollbar-track]:bg-accent/30
  [&::-webkit-scrollbar-thumb]:rounded-full
  [&::-webkit-scrollbar-thumb]:bg-accent
  dark:[&::-webkit-scrollbar-track]:bg-gradient-mid-color/30
  dark:[&::-webkit-scrollbar-thumb]:bg-gradient-mid-color;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@utility status-completed {
  @apply text-sm px-4 py-2 rounded-xl border border-sidebar-border dark:border-border-color cursor-pointer peer-checked:bg-status-completed peer-checked:text-white peer-checked:border-none transition;
}

@utility status-not-started {
  @apply text-sm px-4 py-2 rounded-xl border border-sidebar-border dark:border-border-color cursor-pointer peer-checked:bg-status-not-started peer-checked:text-white peer-checked:border-none transition;
}

@utility status-in-progress {
  @apply text-sm px-4 py-2 rounded-xl border border-sidebar-border dark:border-border-color cursor-pointer peer-checked:bg-status-in-progress peer-checked:text-white peer-checked:border-none transition;
}

@utility status-all {
  @apply text-sm px-4 py-2 rounded-xl border border-sidebar-border dark:border-border-color cursor-pointer peer-checked:bg-accent dark:peer-checked:bg-gradient-mid-color  peer-checked:text-white peer-checked:border-none transition;
}

@utility priority-high {
  @apply text-sm px-4 py-2 rounded-xl border border-sidebar-border dark:border-border-color cursor-pointer peer-checked:bg-priority-high peer-checked:text-white peer-checked:border-none transition;
}

@utility priority-medium {
  @apply text-sm px-4 py-2 rounded-xl border border-sidebar-border dark:border-border-color cursor-pointer peer-checked:bg-priority-medium peer-checked:text-white peer-checked:border-none transition;
}

@utility priority-low {
  @apply text-sm px-4 py-2 rounded-xl border border-sidebar-border dark:border-border-color cursor-pointer peer-checked:bg-priority-low peer-checked:text-white peer-checked:border-none transition;
}

@utility priority-high-tag {
  @apply text-sm px-4 py-2 rounded-xl border border-sidebar-border dark:border-border-color bg-priority-high text-white border-none;
}

@utility priority-medium-tag {
  @apply text-sm px-4 py-2 rounded-xl border border-sidebar-border dark:border-border-color  bg-priority-medium text-white border-none;
}

@utility priority-low-tag {
  @apply text-sm px-4 py-2 rounded-xl border border-sidebar-border dark:border-border-color bg-priority-low text-white border-none;
}

@utility priority-all {
  @apply text-sm px-4 py-2 rounded-xl border border-sidebar-border dark:border-border-color cursor-pointer peer-checked:bg-accent dark:peer-checked:bg-gradient-mid-color dark:border-border-color peer-checked:text-white peer-checked:border-none transition;
}
@utility gradient-card {
  @apply dark:bg-gradient-to-tl dark:from-neutral-50/10 dark:to-gradient-mid-color/5;
}

@utility btn-primary-dashboard {
  @apply flex gap-3 p-4 py-2 justify-center items-center rounded-2xl  hover:scale-110 transition-transform duration-600 ease-in-out text-white bg-accent dark:bg-gradient-mid-color;
}

@utility btn-secondary-dashboard {
  @apply p-2 px-3 rounded-2xl hover:scale-110 transition-transform duration-600 ease-in-out text-dark-gray bg-background dark:border-gradient-mid-color dark:bg-inherit border-1 border-sidebar-border dark:text-gradient-mid-color dark:border-border-color;
}

@utility input-field {
  @apply flex-1 bg-white dark:bg-bg-surface sm:ml-5 p-2 border border-sidebar-border dark:border-border-color rounded-2xl max-w-[60%] caret-sidebar-border  dark:caret-gradient-mid-color focus:border-sidebar-border dark:focus:border-gradient-mid-color focus:outline-none;
}

@utility red-button {
  @apply flex flex-row justify-center items-center rounded-lg border border-red-500 px-6 py-2 m-6 transition duration-300 ease-in-out hover:scale-105 bg-red-500 text-white 
}


input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.my-toast {
  @apply bg-white text-gray-700 border border-accent rounded-lg shadow-lg px-4 py-2;
}

.dark .my-toast {
  @apply bg-bg-primary text-white border-gradient-mid-color;
}